.btnTheme {
    position: fixed;
    top: 20px;
    right: 30px;
    background: transparent;
    cursor: pointer;
}

@media(max-width: 720px){
    .btnTheme {
        top: auto !important;
        bottom: 20px;
        right: 10px;
        z-index: 99999;
    }
}